<!DOCTYPE html>
<html lang="en">

<head>
    <title>Terms and Conditions for Dern Support - PrivacyPolicies.com</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="./assets/css/term-conditions.css">
    <meta name="robots" content="noindex">
    <meta property="og:title" content="Terms and Conditions for Dern Support - PrivacyPolicies.com">
    <meta property="og:image" content="assets/images/livelink.png">
    <meta property="og:image:width" content="1280">
    <meta property="og:image:height" content="720">
    <meta property="og:url" content="https://www.privacypolicies.com/live/5a9c8343-de4a-4b82-bba6-66485f7979e8">
    <meta property="og:site_name" content="PrivacyPolicies.com">
    <link rel="canonical" href="https://www.privacypolicies.com/live/5a9c8343-de4a-4b82-bba6-66485f7979e8">
    <script async="" src="https://www.googletagmanager.com/gtag/js?id=G-9D331S5YCM"></script>
</head>

<body>
    <div class="page">

        <div class="header">
            <div class="container">
                <p class="title"><a href="/"><span>Dern Support</span></a> uchun maxfiylik siyosati</p>
            </div>
        </div>

        <div class="translations-content-container">
            <div class="container">


                <div class="tab-content translations-content-item en visible" id="en">
                    <h1>Maxfiylik siyosati</h1>
                    <p>Oxirgi yangilangan: 2025-yil 31-may</p>
                    <p>Ushbu Maxfiylik siyosati to'plash, foydalanish va oshkor qilish bo'yicha siyosat va
                        tartiblarimizni tavsiflaydi
                        Xizmatdan foydalanganingizda va sizga maxfiylik huquqlaringiz va qanday qilib
                        qonun sizni himoya qiladi.</p>
                    <p>Biz Sizning Shaxsiy ma'lumotlaringizdan Xizmatni taqdim etish va yaxshilash uchun foydalanamiz.
                        Xizmatdan foydalanish orqali siz rozilik bildirasiz
                        ushbu Maxfiylik siyosatiga muvofiq ma'lumotlarni to'plash va ulardan foydalanish. Bu Maxfiylik
                        yordamida siyosat yaratilgan<a href="https://www.termsfeed.com/privacy-policy-generator/"
                            target="_blank"> Privacy Policy
                            Generator</a>.</p>
                    <h2>Sharh va ta'riflar</h2>
                    <h3>Izoh</h3>
                    <p>Bosh harfi bosh harf bilan yozilgan so'zlar quyidagi ma'noga ega
                        sharoitlar. Quyidagi ta'riflar ular yoki yo'qligidan qat'i nazar, bir xil ma'noga ega bo'lishi
                        kerak
                        birlik yoki ko'plikda namoyon bo'ladi.</p>
                    <h3>Ta'riflar</h3>
                    <p>Ushbu Maxfiylik siyosati maqsadlari uchun:</p>
                    <ul>
                        <li>
                            <p><strong>Hisob</strong> Bizning Xizmatimizga kirishingiz uchun yaratilgan noyob hisob
                                qaydnomasi yoki
                                Xizmatimizning qismlari.</p>
                        </li>
                        <li>
                            <p><strong>Hamkor</strong> boshqaradigan, boshqaradigan yoki boshqaradigan ob'ektni
                                anglatadi
                                bir tomon bilan umumiy nazorat, bunda "nazorat" 50% yoki undan ko'proq ulushga egalik
                                qilishni anglatadi
                                aktsiyalar, aktsiyalar yoki direktorlarni saylash uchun ovoz berish huquqiga ega bo'lgan
                                boshqa qimmatli qog'ozlar
                                yoki boshqa boshqaruv organi.</p>
                        </li>
                        <li>
                            <p><strong>Kompaniya</strong> ("Kompaniya", "Biz", "Biz" yoki "Bizning" deb nomlanadi
                                ushbu Shartnoma) <span class="uzb">Dern Support</span> ga ishora qiladi.</p>
                        </li>
                        <li>
                            <p><strong>Cookie-fayllar</strong> Bu sizning kompyuteringizga, mobil qurilmangizga
                                joylashtirilgan kichik fayllardir
                                yoki veb-sayt orqali ko'rish tarixingiz ma'lumotlarini o'z ichiga olgan har qanday
                                boshqa qurilma
                                bu veb-sayt uning ko'p maqsadlari orasida.</p>
                        </li>
                        <li>
                            <p><strong>Mamlakat</strong> nazarda tutadi: <span class="uzb">O'zbekiston</span></p>
                        </li>
                        <li>
                            <p><strong>Qurilma</strong>Kompyuter kabi Xizmatga kira oladigan har qanday qurilmani
                                anglatadi,
                                mobil telefon yoki raqamli planshet.</p>
                        </li>
                        <li>
                            <p><strong>Shaxsiy ma'lumotlar</strong> aniqlangan yoki bilan bog'liq har qanday ma'lumot
                                aniqlanishi mumkin bo'lgan shaxs.</p>
                        </li>
                        <li>
                            <p><strong>Xizmat</strong> Veb-saytga murojaat qiladi.</p>
                        </li>
                        <li>
                            <p><strong>Xizmat ko'rsatuvchi provayder</strong> qayta ishlovchi har qanday jismoniy yoki
                                yuridik shaxsni anglatadi
                                kompaniya nomidan ma'lumotlar. Bu uchinchi tomon kompaniyalari yoki jismoniy shaxslarga
                                tegishli
                                Kompaniya tomonidan xizmat ko'rsatishni osonlashtirish, nomidan Xizmatni taqdim etish
                                uchun yollangan
                                Kompaniya, Xizmat bilan bog'liq xizmatlarni bajarish yoki Kompaniyaga yordam berish
                                Xizmatdan qanday foydalanilishini tahlil qilish.</p>
                        </li>
                        <li>
                            <p><strong>Foydalanish ma'lumotlari</strong>tomonidan avtomatik ravishda to'plangan
                                ma'lumotlarga ishora qiladi
                                Xizmatdan yoki Xizmat infratuzilmasidan foydalanish (masalan,
                                sahifaga tashrif buyurish davomiyligi).</p>
                        </li>
                        <li>
                            <p><strong>Veb-sayt</strong> <span class="uzb">[Dern Support]</span></p>
                        </li>
                        <li>
                            <p><strong>Siz</strong> Xizmatdan foydalanayotgan yoki undan foydalanayotgan shaxs yoki
                                kompaniya,
                                yoki nomidan bunday shaxs kirish yoki foydalanayotgan boshqa yuridik shaxs
                                Xizmat, tegishlicha.</p>
                        </li>
                    </ul>
                    <h2>Shaxsiy ma'lumotlaringizni to'plash va ishlatish</h2>
                    <h3>To'plangan ma'lumotlar turlari</h3>
                    <h4>Shaxsiy ma'lumotlar</h4>
                    <p>Xizmatimizdan foydalanishda biz Sizdan Bizga shaxsni aniqlash mumkin bo'lgan ma'lumotlarni taqdim
                        etishingizni so'rashimiz mumkin
                        Siz bilan bog'lanish yoki shaxsingizni aniqlash uchun ishlatilishi mumkin bo'lgan ma'lumotlar.
                        Shaxsiy ma'lumotlar bo'lishi mumkin
                        quyidagilarni o'z ichiga oladi, lekin ular bilan cheklanmaydi:</p>
                    <ul>
                        <li>Foydalanish ma'lumotlari</li>
                    </ul>
                    <h4>Foydalanish ma'lumotlari</h4>
                    <p>Xizmatdan foydalanganda foydalanish ma'lumotlari avtomatik ravishda yig'iladi.</p>
                    <p>Foydalanish ma'lumotlari qurilmangizning Internet protokoli manzili (masalan, IP
                        manzili), brauzer turi, brauzer versiyasi, siz tashrif buyuradigan Xizmatimiz sahifalari, vaqt
                        va
                        tashrifingiz sanasi, ushbu sahifalarda sarflangan vaqt, noyob qurilma identifikatorlari va
                        boshqalar
                        diagnostika ma'lumotlari.</p>
                    <p>Xizmatga mobil qurilma orqali yoki mobil qurilma orqali kirganingizda, biz ma'lum ma'lumotlarni
                        to'plashimiz mumkin
                        avtomatik ravishda, shu jumladan, lekin ular bilan cheklanmagan holda, siz foydalanadigan mobil
                        qurilma turi, Sizning mobil
                        qurilmaning noyob identifikatori, mobil qurilmangizning IP manzili, mobil operatsion tizimingiz,
                        turi
                        Siz foydalanadigan mobil Internet brauzerining noyob qurilma identifikatorlari va boshqa
                        diagnostika ma'lumotlari.</p>
                    <p>Shuningdek, siz bizning Xizmatimizga tashrif buyurganingizda yoki qachon brauzeringiz yuboradigan
                        ma'lumotlarni to'plashimiz mumkin
                        Siz Xizmatga mobil qurilma orqali yoki orqali kirasiz.</p>
                    <h4>Kuzatuv texnologiyalari va cookie-fayllar</h4>
                    <p>Biz Xizmatimiz va do'konimizdagi faoliyatni kuzatish uchun cookie fayllari va shunga o'xshash
                        kuzatuv texnologiyalaridan foydalanamiz
                        ma'lum ma'lumotlar. Amaldagi kuzatuv texnologiyalari mayoqlar, teglar va to'plash uchun
                        skriptlardir
                        ma'lumotlarni kuzatib borish va Xizmatimizni yaxshilash va tahlil qilish. Biz foydalanadigan
                        texnologiyalar quyidagilarni o'z ichiga olishi mumkin:
                    </p>
                    <ul>
                        <li><strong>Cookie-fayllar yoki brauzer cookie-fayllari.</strong> Cookie - bu qurilmangizga
                            joylashtirilgan kichik fayl.
                            Brauzeringizga barcha Cookie-fayllarni rad etishni yoki Cookie qachon paydo bo'lishini
                            ko'rsatishni ko'rsatishingiz mumkin
                            yuborilgan. Biroq, agar siz cookie-fayllarni qabul qilmasangiz, bizning ba'zi qismlaridan
                            foydalana olmasligingiz mumkin
                            Xizmat. Brauzeringiz sozlamalarini cookie-fayllarni rad etishi uchun sozlamaguningizcha,
                            bizning
                            Xizmat cookie-fayllardan foydalanishi mumkin.</li>
                        <li><strong>Veb-mayoqlar.</strong>Xizmatimizning ayrim bo'limlari va elektron xatlarimiz
                            bo'lishi mumkin
                            Veb-mayoqlar deb nomlanuvchi kichik elektron fayllar (shuningdek, aniq giflar, piksel
                            teglari va
                            masalan, kompaniyaga tashrif buyurgan foydalanuvchilarni hisoblash imkonini beruvchi bitta
                            pikselli giflar).
                            ushbu sahifalar yoki ochilgan elektron pochta va boshqa tegishli veb-sayt statistikasi uchun
                            (masalan,
                            ma'lum bir bo'limning mashhurligini qayd etish va tizim va server yaxlitligini tekshirish).
                        </li>
                    </ul>
                    <p>Cookie-fayllar “Doimiy” yoki “Session” kukilari bo'lishi mumkin. Doimiy cookie-fayllar shaxsiy
                        xotirangizda qoladi
                        Siz oflayn rejimga o'tganingizda kompyuter yoki mobil qurilmangiz, seans cookie-fayllari esa Siz
                        bilanoq o'chiriladi
                        veb-brauzeringizni yoping. Cookie-fayllar haqida ko'proq bilib olishingiz mumkin <a
                            href="https://www.termsfeed.com/blog/cookies/#What_Are_Cookies" target="_blank">TermsFeed
                            veb-sayt</a> maqola.</p>
                    <p>Biz Seans va Doimiy Cookie-fayllardan quyida keltirilgan maqsadlarda foydalanamiz:</p>
                    <ul>
                        <li>
                            <p><strong>Kerakli / Muhim kukilar</strong></p>
                            <p>Turi: Seans kukilari</p>
                            <p>Boshqaruvchi: Us</p>
                            <p>Maqsad: Ushbu Cookie-fayllar Siz orqali mavjud xizmatlarni taqdim etish uchun zarurdir
                                Veb-sayt va uning ba'zi xususiyatlaridan foydalanish imkonini beradi. Ular
                                foydalanuvchilarni autentifikatsiya qilishga yordam beradi
                                va foydalanuvchi hisoblaridan firibgarlikdan foydalanishning oldini olish. Ushbu
                                Cookie-fayllarsiz, bu xizmatlar
                                Siz so'ragan narsalarni taqdim etib bo'lmaydi va biz ushbu cookie-fayllarni faqat sizga
                                taqdim qilish uchun ishlatamiz
                                bu xizmatlar.</p>
                        </li>
                        <li>
                            <p><strong>Cookie-fayllar siyosati / Ogohlantirishni qabul qilish kukilari</strong></p>
                            <p>Turi: Doimiy cookie-fayllar</p>
                            <p>Boshqaruvchi: Us</p>
                            <p>Maqsad: Ushbu Cookie-fayllar foydalanuvchilar veb-saytda cookie-fayllardan foydalanishni
                                qabul qilganligini aniqlaydi.
                            </p>
                        </li>
                        <li>
                            <p><strong>Funktsional kukilar</strong></p>
                            <p>Turi: Doimiy cookie-fayllar</p>
                            <p>Boshqaruvchi: Us</p>
                            <p>Maqsad: Ushbu cookie-fayllar veb-saytdan foydalanganda qilgan tanlovlaringizni eslab
                                qolishimizga imkon beradi,
                                kirish ma'lumotlarini yoki tilni afzal ko'rganingizni eslab qolish kabi. Bularning
                                maqsadi
                                Cookie-fayllar sizga ko'proq shaxsiy tajribani taqdim etish va sizdan qochish uchundir
                                Veb-saytdan har safar foydalanganingizda o'zingizning afzalliklaringizni qayta kiriting.
                            </p>
                        </li>
                    </ul>
                    <p>Biz foydalanadigan cookie-fayllar va cookie-fayllarga oid tanlovlaringiz haqida ko'proq ma'lumot
                        olish uchun tashrif buyuring
                        Cookie-fayllar siyosatimiz yoki Maxfiylik siyosatimizning cookie-fayllar bo'limi.</p>
                    <h3>Shaxsiy ma'lumotlaringizdan foydalanish</h3>
                    <p>Kompaniya Shaxsiy ma'lumotlardan quyidagi maqsadlarda foydalanishi mumkin:</p>
                    <ul>
                        <li>
                            <p><strong>Xizmatimizni taqdim etish va saqlash</strong>dan foydalanishni nazorat qilish
                                uchun, shu jumladan
                                bizning xizmatimiz.</p>
                        </li>
                        <li>
                            <p><strong>Hisobingizni boshqarish uchun:</strong>foydalanuvchi sifatida ro'yxatdan
                                o'tishingizni boshqarish
                                Xizmat. Siz taqdim etgan Shaxsiy ma'lumotlar sizga turli funksiyalarga kirish imkonini
                                beradi
                                ro'yxatdan o'tgan foydalanuvchi sifatida foydalanish mumkin bo'lgan Xizmat.</p>
                        </li>
                        <li>
                            <p><strong>Shartnomani bajarish uchun:</strong>ishlab chiqish, muvofiqlik va
                                Sizda mavjud bo'lgan mahsulotlar, narsalar yoki xizmatlarni sotib olish shartnomasini
                                bajarish
                                sotib olingan yoki Xizmat orqali Biz bilan boshqa har qanday shartnoma.</p>
                        </li>
                        <li>
                            <p><strong>Siz bilan bog'lanish uchun:</strong>Siz bilan elektron pochta, telefon
                                qo'ng'iroqlari, SMS yoki boshqalar orqali bog'lanish uchun
                                elektron aloqaning ekvivalent shakllari, masalan, mobil ilovani surish
                                bilan bog'liq yangilanishlar yoki ma'lumot beruvchi xabarlar
                                funksiyalar, mahsulotlar yoki shartnoma xizmatlari, shu jumladan xavfsizlik
                                yangilanishlari, qachon
                                ularni amalga oshirish uchun zarur yoki oqilona.</p>
                        </li>
                        <li>
                            <p><strong>Sizni ta'minlash uchun</strong>haqida yangiliklar, maxsus takliflar va umumiy
                                ma'lumotlar bilan
                                biz taklif qilayotgan, sizda mavjud bo'lgan narsalarga o'xshash boshqa tovarlar,
                                xizmatlar va tadbirlar
                                Agar siz buni qabul qilmaslikni tanlamagan bo'lsangiz, allaqachon sotib olingan yoki
                                so'ralgan
                                ma'lumot.</p>
                        </li>
                        <li>
                            <p><strong>So'rovlaringizni boshqarish uchun:</strong>Bizga bo'lgan so'rovlaringizda
                                ishtirok etish va boshqarish uchun.</p>
                        </li>
                        <li>
                            <p><strong>Biznes o'tkazmalari uchun:</strong>Biz sizning ma'lumotlaringizdan baholash uchun
                                foydalanishimiz mumkin
                                qo'shilish, ajratish, qayta tashkil etish, qayta tashkil etish, tugatish yoki boshqa
                                sotishni amalga oshirish
                                yoki faoliyatning uzluksizligi yoki uning bir qismi sifatida bizning aktivlarimizning
                                bir qismini yoki barchasini o'tkazish
                                bankrotlik, tugatish yoki shunga o'xshash jarayon, bunda shaxsiy ma'lumotlar bizda
                                saqlanadi
                                o'tkazilgan aktivlar orasida bizning Xizmat foydalanuvchilarimiz ham bor.</p>
                        </li>
                        <li>
                            <p><strong>Boshqa maqsadlar uchun</strong>: Biz sizning ma'lumotlaringizdan boshqa
                                maqsadlarda foydalanishimiz mumkin, masalan
                                ma'lumotlarni tahlil qilish, foydalanish tendentsiyalarini aniqlash, bizning
                                samaradorligimizni aniqlash
                                reklama kampaniyalari va xizmatimizni, mahsulotlarimizni, xizmatlarimizni baholash va
                                yaxshilash,
                                marketing va tajribangiz.</p>
                        </li>
                    </ul>
                    <p>Biz sizning shaxsiy ma'lumotlaringizni quyidagi holatlarda baham ko'rishimiz mumkin:</p>
                    <ul>
                        <li><strong>Xizmat ko'rsatuvchi provayderlar bilan:</strong> Shaxsiy ma'lumotlaringizni Xizmat
                            bilan baham ko'rishimiz mumkin
                            Xizmatimizdan foydalanishni nazorat qilish va tahlil qilish, Siz bilan bog'lanish uchun
                            provayderlar.</li>
                        <li><strong>Biznes o'tkazmalari uchun:</strong>Biz sizning shaxsiy ma'lumotlaringizni
                            almashishimiz yoki o'tkazishimiz mumkin
                            har qanday qo'shilish, kompaniya aktivlarini sotish bilan bog'liq yoki muzokaralar davomida,
                            moliyalashtirish yoki bizning biznesimizning to'liq yoki bir qismini boshqa kompaniyaga
                            sotib olish.</li>
                        <li><strong>Hamkorlar bilan:</strong>Biz sizning ma'lumotlaringizni bizning filiallarimiz bilan
                            baham ko'rishimiz mumkin
                            bu holda biz ushbu filiallardan ushbu Maxfiylik siyosatiga rioya qilishlarini talab qilamiz.
                            Filiallar o'z ichiga oladi
                            Bizning bosh kompaniyamiz va boshqa har qanday sho'ba korxonalar, qo'shma korxona hamkorlari
                            yoki boshqa kompaniyalar
                            Biz nazorat qiladigan yoki biz bilan umumiy nazorat ostida bo'lganlar.</li>
                        <li><strong>Biznes hamkorlar bilan:</strong> Biz sizning ma'lumotlaringizni biznesimiz bilan
                            baham ko'rishimiz mumkin
                            Sizga ma'lum mahsulotlar, xizmatlar yoki reklama aktsiyalarini taklif qilish uchun
                            hamkorlar.</li>
                        <li><strong>Boshqa foydalanuvchilar bilan:</strong>shaxsiy ma'lumotlarni baham ko'rganingizda
                            yoki boshqa tarzda o'zaro aloqada bo'lganingizda
                            boshqa foydalanuvchilar bilan jamoat joylarida, bunday ma'lumotlarni barcha foydalanuvchilar
                            ko'rishi mumkin va bo'lishi mumkin
                            tashqarida ommaviy ravishda tarqatiladi.</li>
                        <li><strong>Sizning roziligingiz bilan</strong>: Biz sizning shaxsiy ma'lumotlaringizni
                            boshqalar uchun oshkor qilishimiz mumkin
                            Sizning roziligingiz bilan maqsad qiling.</li>
                    </ul>
                    <h3>Shaxsiy ma'lumotlaringizni saqlash</h3>
                    <p>Kompaniya Shaxsiy ma'lumotlaringizni faqat belgilangan maqsadlar uchun zarur bo'lgan vaqt
                        davomida saqlaydi
                        ushbu Maxfiylik siyosatida. Biz sizning shaxsiy ma'lumotlaringizni kerakli darajada saqlaymiz va
                        foydalanamiz
                        qonuniy majburiyatlarimizni bajaring (masalan, rioya qilish uchun ma'lumotlaringizni saqlashimiz
                        talab qilinsa).
                        amaldagi qonunlar bilan), nizolarni hal qilish va qonuniy kelishuvlarimiz va siyosatlarimizni
                        bajarish.</p>
                    <p>Kompaniya shuningdek, foydalanish ma'lumotlarini ichki tahlil qilish uchun saqlab qoladi.
                        Foydalanish ma'lumotlari odatda
                        qisqaroq vaqt davomida saqlanadi, bu ma'lumotlar xavfsizlikni mustahkamlash uchun foydalanilgan
                        hollar bundan mustasno
                        yoki Xizmatimiz funksiyalarini yaxshilash uchun yoki biz qonuniy ravishda ushbu ma'lumotlarni
                        saqlashga majburmiz
                        uzoqroq muddatlar uchun.</p>
                    <h3>Shaxsiy ma'lumotlaringizni uzatish</h3>
                    <p>Sizning ma'lumotlaringiz, shu jumladan Shaxsiy ma'lumotlar kompaniyaning operatsion ofislarida va
                        boshqa joylarda qayta ishlanadi
                        qayta ishlashda ishtirok etuvchi tomonlar joylashgan har qanday boshqa joylar. Bu shuni
                        anglatadiki
                        ma'lumotlar sizning davlatingizdan tashqarida joylashgan kompyuterlarga uzatilishi va saqlanishi
                        mumkin,
                        ma'lumotlarni himoya qilish qonunlari farq qilishi mumkin bo'lgan viloyat, mamlakat yoki boshqa
                        hukumat yurisdiksiyasi
                        Sizning yurisdiktsiyangizdagilardan ko'ra.</p>
                    <p>Sizning ushbu Maxfiylik siyosatiga roziligingiz va keyin bunday ma'lumotlarni taqdim etishingiz
                        anglatadi
                        Ushbu transferga roziligingiz.</p>
                    <p>Kompaniya sizning ma'lumotlaringiz xavfsizligini ta'minlash uchun zarur bo'lgan barcha choralarni
                        ko'radi
                        va ushbu Maxfiylik siyosatiga muvofiq va Shaxsiy ma'lumotlaringiz o'tkazilmaydi
                        tashkilotga yoki mamlakatga, agar tegishli nazorat mavjud bo'lmasa, shu jumladan
                        ma'lumotlaringiz va boshqa shaxsiy ma'lumotlaringiz xavfsizligi.</p>
                    <h3>Shaxsiy ma'lumotlaringizni o'chirib tashlang</h3>
                    <p>Bizda mavjud bo'lgan Shaxsiy ma'lumotlarni o'chirish yoki o'chirishda yordam berishimizni so'rash
                        huquqiga egasiz
                        Siz haqingizda to'plangan.</p>
                    <p>Bizning xizmatimiz Siz haqingizda ba'zi ma'lumotlarni o'chirish imkoniyatini berishi mumkin
                        Xizmat.</p>
                    <p>Hisobingizga kirish orqali istalgan vaqtda ma'lumotlaringizni yangilashingiz, o'zgartirishingiz
                        yoki o'chirishingiz mumkin
                        sizda bor va shaxsiy hisobingizni boshqarish imkonini beruvchi hisob sozlamalari bo'limiga
                        tashrif buyuring
                        ma'lumot. Shuningdek, har qanday shaxsiy ma'lumotlarga kirish, tuzatish yoki o'chirish uchun biz
                        bilan bog'lanishingiz mumkin
                        Siz bizga taqdim etgan ma'lumotlar.</p>
                    <p>Iltimos, shuni yodda tutingki, biz qonuniy huquqqa ega bo'lganimizda ma'lum ma'lumotlarni
                        saqlashimiz kerak bo'lishi mumkin
                        majburiyat yoki qonuniy asos.</p>
                    <h3>Shaxsiy ma'lumotlaringizni oshkor qilish</h3>
                    <h4>Biznes operatsiyalari</h4>
                    <p>Agar kompaniya qo'shilish, sotib olish yoki aktivlarni sotishda ishtirok etsa, sizning shaxsiy
                        ma'lumotlaringiz bo'lishi mumkin
                        uzatildi. Sizning shaxsiy ma'lumotlaringiz o'tkazilishi va ob'ekt bo'lishidan oldin biz xabar
                        beramiz
                        boshqa Maxfiylik siyosatiga.</p>
                    <h4>Huquqni muhofaza qilish</h4>
                    <p>Muayyan sharoitlarda Kompaniyadan Shaxsiy ma'lumotlaringizni oshkor qilish talab qilinishi mumkin
                        qonun bilan yoki davlat organlarining asosli so'rovlariga javoban (masalan, sud yoki
                        davlat organi).</p>
                    <h4>Boshqa qonuniy talablar</h4>
                    <p>Kompaniya sizning shaxsiy ma'lumotlaringizni bunday harakatni yaxshi niyat bilan oshkor qilishi
                        mumkin
                        zarur:</p>
                    <ul>
                        <li>Qonuniy majburiyatga rioya qilish</li>
                        <li>Kompaniyaning huquqlari yoki mulkini himoya qilish va himoya qilish</li>
                        <li>Xizmat bilan bog'liq bo'lishi mumkin bo'lgan huquqbuzarliklarning oldini olish yoki
                            tekshirish</li>
                        <li>Xizmat foydalanuvchilari yoki jamoatchilikning shaxsiy xavfsizligini himoya qiling</li>
                        <li>Yuridik javobgarlikdan himoya qilish</li>
                    </ul>
                    <h3>Shaxsiy ma'lumotlaringiz xavfsizligi</h3>
                    <p>Shaxsiy ma'lumotlaringiz xavfsizligi Biz uchun muhim, ammo esda tutingki, hech qanday usul yo'q
                        Internet orqali uzatish yoki elektron saqlash usuli 100% xavfsiz. Biz harakat qilsak
                        Shaxsiy ma'lumotlaringizni himoya qilish uchun tijorat nuqtai nazaridan maqbul vositalardan
                        foydalanish, biz bunga kafolat bera olmaymiz
                        mutlaq xavfsizlik.</p>
                    <h2>Bolalar Maxfiyligi</h2>
                    <p>Bizning xizmatimiz 13 yoshga to'lmagan hech kimga murojaat qilmaydi. Biz bila turib shaxsan
                        yig'maymiz
                        13 yoshga to'lmagan har qanday shaxsdan identifikatsiya qilinadigan ma'lumotlar. Agar siz
                        ota-ona yoki vasiy bo'lsangiz va
                        Farzandingiz bizga shaxsiy ma'lumotlarni taqdim etganidan xabardorsiz, iltimos biz bilan
                        bog'laning. Agar Biz
                        Biz 13 yoshga to'lmagan har qanday shaxsdan Shaxsiy ma'lumotlarni to'plaganimizdan xabardor
                        bo'ling
                        ota-ona roziligini tekshirish, biz ushbu ma'lumotni serverlarimizdan olib tashlash uchun
                        choralar ko'ramiz.</p>
                    <p>Ma'lumotlaringizni va mamlakatingizni qayta ishlash uchun qonuniy asos sifatida rozilikka
                        tayanishimiz kerak bo'lsa
                        ota-onaning roziligini talab qilsa, yig'ish va ishlatishdan oldin ota-onangizning roziligini
                        talab qilishimiz mumkin
                        bu ma'lumot.</p>
                    <h2>Boshqa veb-saytlarga havolalar</h2>
                    <p>Xizmatimizda biz tomonidan boshqarilmaydigan boshqa veb-saytlarga havolalar bo'lishi mumkin. Agar
                        siz a ni bossangiz
                        uchinchi tomon havolasi, Siz uchinchi tomonning saytiga yo'naltirilasiz. Sizga qattiq maslahat
                        beramiz
                        Siz tashrif buyurgan har bir saytning Maxfiylik siyosatini ko'rib chiqing.</p>
                    <p>Biz kontent, maxfiylik siyosati yoki ustidan hech qanday nazoratga ega emasmiz va hech qanday
                        javobgarlikni o'z zimmamizga olmaymiz
                        har qanday uchinchi tomon saytlari yoki xizmatlarining amaliyoti.</p>
                    <h2>Ushbu Maxfiylik siyosatiga kiritilgan o'zgartirishlar</h2>
                    <p>Biz vaqti-vaqti bilan Maxfiylik siyosatimizni yangilashimiz mumkin. Biz sizni har qanday
                        o'zgarishlar haqida xabar berish orqali xabardor qilamiz
                        ushbu sahifadagi yangi Maxfiylik siyosati.</p>
                    <p>O'zgartirishdan oldin biz sizga elektron pochta orqali va/yoki Xizmatimiz haqida taniqli
                        bildirishnoma orqali xabar beramiz
                        kuchga kiradi va ushbu Maxfiylik siyosatining yuqori qismidagi "So'nggi yangilangan" sanani
                        yangilang.</p>
                    <p>Sizga ushbu Maxfiylik siyosatini har qanday o'zgarishlar uchun vaqti-vaqti bilan ko'rib chiqish
                        tavsiya etiladi. Bunga o'zgartirishlar
                        Maxfiylik siyosati ushbu sahifada e'lon qilinganda kuchga kiradi.</p>
                    <h2>Biz bilan bog'lanish</h2>
                    <p>Ushbu Maxfiylik siyosati bo'yicha savollaringiz bo'lsa, biz bilan bog'lanishingiz mumkin:</p>
                    <ul>
                        <li>Elektron pochta orqali: <a href="mailto: info@dernsupport.uz"><span
                                    class="uzb">info@dernsupport.uz</span></a></li>
                    </ul>
                </div>


            </div>
        </div>
        <!-- content end -->



        <div class="footer">
            <div class="container">
                <p>Generated using <a href="https://www.termsfeed.com/privacy-policy-generator/"
                        target="_blank">TermsFeed Maxfiylik siyosati generatori</a></p>
            </div>
        </div>


    </div>

    <script defer="" data-domain="termsfeed-livelink--production" data-api="/plausible/event"
        src="/plausible/script.js"></script>

    <script type="text/javascript">
        "use strict";
        window.LCG_TRACKING_APPLICATION = "termsfeed-livelink";
        window.LCG_TRACKING_ENVIRONMENT = "production";
        window.LCG_TRACKING_EPOCH = "2020-e01";
    </script>


    <script src="./assets/js/privacy-policy.js"></script>
    <script defer=""
        src="https://static.cloudflareinsights.com/beacon.min.js/vcd15cbe7772f49c399c6a5babf22c1241717689176015"
        integrity="sha512-ZpsOmlRQV6y907TI0dKBHq9Md29nnaEIPlkf84rnaERnq6zvWvPUqr2ft8M1aS28oN72PdrCzSjY4U6VaAw1EQ=="
        data-cf-beacon="{&quot;rayId&quot;:&quot;948781704eeeb512&quot;,&quot;serverTiming&quot;:{&quot;name&quot;:{&quot;cfExtPri&quot;:true,&quot;cfEdge&quot;:true,&quot;cfOrigin&quot;:true,&quot;cfL4&quot;:true,&quot;cfSpeedBrain&quot;:true,&quot;cfCacheStatus&quot;:true}},&quot;version&quot;:&quot;2025.5.0&quot;,&quot;token&quot;:&quot;24d38a5cb57a4c87ad9f5238132ec4c3&quot;}"
        crossorigin="anonymous"></script>

</body>

</html>