<!DOCTYPE html>
<html lang="en">

<head>
    <title>Terms and Conditions for Dern Support - PrivacyPolicies.com</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="./assets/css/term-conditions.css">
    <meta name="robots" content="noindex">
    <meta property="og:title" content="Terms and Conditions for Dern Support - PrivacyPolicies.com">
    <meta property="og:image" content="assets/images/livelink.png">
    <meta property="og:image:width" content="1280">
    <meta property="og:image:height" content="720">
    <meta property="og:url" content="https://www.privacypolicies.com/live/5a9c8343-de4a-4b82-bba6-66485f7979e8">
    <meta property="og:site_name" content="PrivacyPolicies.com">
    <link rel="canonical" href="https://www.privacypolicies.com/live/5a9c8343-de4a-4b82-bba6-66485f7979e8">
    <script async="" src="https://www.googletagmanager.com/gtag/js?id=G-9D331S5YCM"></script>
</head>

<body>
    <div class="page">

        <div class="header">
            <div class="container">
                <p class="title">Foydalanish shartlari <a href="/"><span>Dern Support</span></a></p>
            </div>
        </div>



        <div class="translations-content-container">
            <div class="container">


                <div class="tab-content translations-content-item en visible" id="en">
                    <h1>Foydalanish shartlari</h1>
                    <p>Oxirgi yangilangan: 2025-yil 30-may</p>
                    <p>Xizmatimizdan foydalanishdan oldin ushbu shart va shartlarni diqqat bilan o'qib chiqing.</p>
                    <h2>Sharh va ta'riflar</h2>
                    <h3>Izoh</h3>
                    <p>Bosh harfi bosh harf bilan yozilgan so'zlar quyidagi ma'noga ega
                        sharoitlar. Quyidagi ta'riflar ular yoki yo'qligidan qat'i nazar, bir xil ma'noga ega bo'lishi
                        kerak
                        birlik yoki ko'plikda namoyon bo'ladi.</p>
                    <h3>Ta'riflar</h3>
                    <p>Ushbu Shartlar va Shartlarning maqsadlari uchun:</p>
                    <ul>
                        <li>
                            <p><strong>Hamkor</strong> boshqaradigan, boshqaradigan yoki boshqaradigan ob'ektni
                                anglatadi
                                bir tomon bilan umumiy nazorat, bunda "nazorat" 50% yoki undan ko'proq ulushga egalik
                                qilishni anglatadi
                                aktsiyalar, aktsiyalar yoki direktorlarni saylash uchun ovoz berish huquqiga ega bo'lgan
                                boshqa qimmatli qog'ozlar
                                yoki boshqa boshqaruv organi.</p>
                        </li>
                        <li>
                            <p><strong>Mamlakat</strong> nazarda tutadi: <span class="uzb">O'zbekiston</span></p>
                        </li>
                        <li>
                            <p><strong>Kompaniya</strong> ("Kompaniya", "Biz", "Biz" yoki "Bizning" deb nomlanadi
                                ushbu Shartnoma) nazarda tutiladi <span class="uzb">Dern Support.</span></p>
                        </li>
                        <li>
                            <p><strong>Qurilma</strong> Kompyuter kabi Xizmatga kira oladigan har qanday qurilmani
                                anglatadi,
                                mobil telefon yoki raqamli planshet.</p>
                        </li>
                        <li>
                            <p><strong>Xizmat</strong> Veb-saytga murojaat qiladi.</p>
                        </li>
                        <li>
                            <p><strong>Foydalanish shartlari</strong> (shuningdek, "Shartlar" deb ataladi) ushbu
                                Shartlarni anglatadi va
                                Foydalanish bo'yicha Siz va Kompaniya o'rtasidagi to'liq kelishuvni tashkil etuvchi
                                shartlar
                                Xizmatdan. Ushbu Shartlar va Shartnomalar yordami bilan yaratilgan
                                the <a href="https://www.privacypolicies.com/terms-conditions-generator/"
                                    target="_blank">Foydalanish shartlari generatori</a>.</p>
                        </li>
                        <li>
                            <p><strong>Uchinchi tomon ijtimoiy media xizmati</strong> har qanday xizmat yoki kontentni
                                bildiradi
                                mumkin bo'lgan uchinchi tomon tomonidan taqdim etilgan (shu jumladan ma'lumotlar,
                                ma'lumotlar, mahsulotlar yoki xizmatlar).
                                Xizmat tomonidan ko'rsatilishi, qo'shilishi yoki taqdim etilishi.</p>
                        </li>
                        <li>
                            <p><strong>Veb-sayt</strong> ga ishora qiladi <span class="uzb">Dern Support</span>, dan
                                kirish mumkin
                                <a href="" rel="external nofollow noopener" target="_blank"> </a>
                            </p>
                        </li>
                        <li>
                            <p><strong>Siz</strong> Xizmatdan foydalanayotgan yoki undan foydalanayotgan shaxs yoki
                                kompaniya,
                                yoki nomidan bunday shaxs kirish yoki foydalanayotgan boshqa yuridik shaxs
                                Xizmat, tegishlicha.</p>
                        </li>
                    </ul>
                    <h2>Tasdiqlash</h2>
                    <p>Bular ushbu Xizmatdan foydalanishni tartibga soluvchi Shartlar va shartnomalardir
                        Siz va Kompaniya o'rtasida ishlaydi. Ushbu Shartlar va qoidalar huquqlarni belgilaydi va
                        Xizmatdan foydalanish bo'yicha barcha foydalanuvchilarning majburiyatlari.</p>
                    <p>Sizning xizmatga kirishingiz va undan foydalanishingiz uni qabul qilishingiz va unga rioya
                        qilishingiz bilan bog'liq
                        ushbu Qoidalar va Shartlar. Ushbu shartlar barcha tashrif buyuruvchilar, foydalanuvchilar va
                        boshqalar uchun amal qiladi
                        Xizmatga kirish yoki undan foydalanish.</p>
                    <p>Xizmatga kirish yoki undan foydalanish orqali siz ushbu Shartlar va shartlarga rozilik
                        bildirasiz. Agar Siz
                        ushbu Shartlarning biron bir qismiga rozi bo'lmasangiz, siz Xizmatga kira olmaysiz.</p>
                    <p>Siz 18 yoshdan oshganligingizni bildirasiz. Kompaniya 18 yoshdan kichiklarga foydalanishga ruxsat
                        bermaydi
                        Xizmat.</p>
                    <p>Sizning xizmatga kirishingiz va undan foydalanishingiz ham uni qabul qilishingiz va unga rioya
                        qilishingiz bilan bog'liq
                        Kompaniyaning Maxfiylik siyosati bilan. Maxfiylik siyosatimiz siyosat va tartiblarimizni
                        tavsiflaydi
                        Ilovadan foydalanganda shaxsiy ma'lumotlaringizni to'plash, ishlatish va oshkor qilish bo'yicha
                        yoki Veb-saytga tashrif buyurib, Sizning shaxsiy daxlsizlik huquqlaringiz va qonun sizni qanday
                        himoya qilishi haqida sizga ma'lumot beradi. Iltimos o'qing
                        Xizmatimizdan foydalanishdan oldin Maxfiylik siyosatimiz.</p>
                    <h2>Boshqa veb-saytlarga havolalar</h2>
                    <p>Bizning xizmatimiz egalik qilmaydigan uchinchi tomon veb-saytlari yoki xizmatlariga havolalarni
                        o'z ichiga olishi mumkin
                        kompaniyasi tomonidan nazorat qilinadi.</p>
                    <p>Kompaniya kontent, maxfiylik ustidan nazoratga ega emas va hech qanday javobgarlikni o'z
                        zimmasiga olmaydi
                        uchinchi tomon veb-saytlari yoki xizmatlarining siyosati yoki amaliyoti. Siz yana tan olasiz va
                        Kompaniya to'g'ridan-to'g'ri yoki bilvosita har qanday narsa uchun javobgar yoki javobgar
                        emasligiga rozilik bildirasiz
                        foydalanish yoki unga tayanish natijasida kelib chiqqan yoki etkazilgan zarar yoki zarar
                        har qanday veb-saytlar yoki xizmatlarda yoki ular orqali mavjud bo'lgan bunday kontent, tovarlar
                        yoki xizmatlar.</p>
                    <p>Biz sizga har qanday uchinchi tomonning shartlari va maxfiylik siyosati bilan tanishib
                        chiqishingizni tavsiya qilamiz
                        Siz tashrif buyuradigan veb-saytlar yoki xizmatlar.</p>
                    <h2>Tugatish</h2>
                    <p>Biz sizning kirishingizni oldindan ogohlantirmasdan yoki hech qanday javobgarliksiz darhol
                        to'xtatishimiz yoki to'xtatib qo'yishimiz mumkin
                        nima bo'lishidan qat'iy nazar, shu jumladan cheklanmagan holda, agar siz ushbu Shartlarni
                        buzsangiz.</p>
                    <p>Tugatganingizdan so'ng, Xizmatdan foydalanish huquqi darhol to'xtatiladi.</p>
                    <h2>Mas'uliyatni cheklash</h2>
                    <p>Sizga etkazilishi mumkin bo'lgan har qanday zararga qaramasdan, Kompaniyaning to'liq javobgarligi
                        va har qanday
                        uning yetkazib beruvchilari ushbu Shartlarning har qanday qoidalariga muvofiq va Sizning barcha
                        holatlar uchun eksklyuziv vositangiz
                        Yuqorida aytilganlar Xizmat orqali haqiqatda to'langan summa yoki 100 AQSh dollari bilan
                        cheklanadi
                        Siz Xizmat orqali hech narsa sotib olmagansiz.</p>
                    <p>Amaldagi qonunchilikda ruxsat etilgan maksimal darajada, kompaniya yoki uning yetkazib
                        beruvchilari hech qanday holatda
                        har qanday maxsus, tasodifiy, bilvosita yoki oqibatli zararlar uchun javobgar bo'ladi (shu
                        jumladan,
                        biznes uchun foyda yo'qotishi, ma'lumotlar yoki boshqa ma'lumotlarning yo'qolishi uchun, lekin
                        ular bilan cheklanmagan holda
                        uzilish, shaxsiy jarohatlar uchun, shaxsiy hayotni yo'qotishdan kelib chiqadigan yoki har qanday
                        tarzda bog'liq
                        Xizmatdan, uchinchi tomon dasturiy ta'minotidan va/yoki foydalanilgan uchinchi tomon apparatidan
                        foydalanish yoki foydalana olmaslik
                        Xizmat bilan yoki ushbu Shartlarning har qanday qoidasi bilan bog'liq holda), hatto
                        Kompaniya yoki har qanday etkazib beruvchiga bunday zararlar ehtimoli haqida xabar berilgan va
                        hatto
                        chora o'zining asosiy maqsadiga erisha olmaydi.</p>
                    <p>Ba'zi davlatlar nazarda tutilgan kafolatlarni istisno qilishga yoki javobgarlikni cheklashga
                        ruxsat bermaydi
                        tasodifiy yoki oqibatli zararlar, ya'ni yuqoridagi ba'zi cheklovlar bo'lmasligi mumkin
                        murojaat qiling. Bu davlatlarda har bir tomonning javobgarligi ruxsat etilgan darajada
                        cheklanadi
                        qonun bo'yicha.</p>
                    <h2>"XAMDA" va "MAVJUD BO'LGAN" ogohlantirish</h2>
                    <p>Xizmat sizga "XAMDA" va "MAVJUD BO'LGAN" va barcha nosozliklar va nuqsonlarsiz taqdim etiladi.
                        har qanday turdagi kafolat. Amaldagi qonunchilikka muvofiq ruxsat etilgan maksimal darajada,
                        Kompaniya, o'z bo'yicha
                        o'z nomidan va uning Sho'balari, uning va ularning tegishli litsenziya beruvchilari va
                        xizmatlari nomidan
                        provayderlar, aniq, nazarda tutilgan, qonuniy yoki boshqa tarzda barcha kafolatlarni rad etadi,
                        Xizmatga nisbatan, shu jumladan savdoga yaroqlilik, yaroqlilik haqidagi barcha nazarda tutilgan
                        kafolatlar
                        ma'lum maqsad, nom va huquqbuzarlik va o'z-o'zidan paydo bo'lishi mumkin bo'lgan kafolatlar
                        muomala, ishlash kursi, foydalanish yoki savdo amaliyoti. Yuqoridagilarni cheklamagan holda,
                        Kompaniya hech qanday kafolat yoki majburiyat bermaydi va hech qanday vakillik qilmaydi
                        Xizmat sizning talablaringizga javob beradi, istalgan natijalarga erishadi, mos keladi yoki
                        ishlaydi
                        boshqa har qanday dasturiy ta'minot, ilovalar, tizimlar yoki xizmatlar bilan uzluksiz ishlash,
                        uchrashish
                        har qanday ishlash yoki ishonchlilik standartlari yoki xatosiz bo'lishi yoki har qanday xato
                        yoki nuqsonlar mumkin yoki
                        tuzatiladi.</p>
                    <p>Yuqorida aytilganlarni cheklamagan holda, na Kompaniya, na kompaniya provayderlari hech narsa
                        qilmaydi
                        har qanday turdagi vakillik yoki kafolat, aniq yoki nazarda tutilgan: (i) operatsiyaga nisbatan
                        yoki
                        Xizmatning mavjudligi yoki ma'lumot, tarkib va ​​materiallar yoki mahsulotlar
                        unda; (ii) Xizmat uzluksiz yoki xatosiz bo'lishini; (iii) aniqlik bo'yicha,
                        Xizmat orqali taqdim etilgan har qanday ma'lumot yoki kontentning ishonchliligi yoki valyutasi;
                        yoki (iv)
                        Xizmat, uning serverlari, kontenti yoki Kompaniya nomidan yuborilgan elektron pochta xabarlari
                        viruslar, skriptlar, troyan otlari, qurtlar, zararli dasturlar, vaqtli bombalar yoki boshqa
                        zararli komponentlardan xoli.
                    </p>
                    <p>Ba'zi yurisdiktsiyalar ayrim turdagi kafolatlar yoki cheklovlarni istisno qilishga ruxsat
                        bermaydi
                        iste'molchining amaldagi qonuniy huquqlari, shuning uchun yuqoridagi istisnolarning bir qismi
                        yoki barchasi va
                        cheklovlar Siz uchun amal qilmasligi mumkin. Ammo bunday holatda istisnolar va cheklovlar
                        ko'rsatilgan
                        ushbu bo'lim amaldagi qonunchilikka muvofiq maksimal darajada qo'llanilishi kerak.</p>
                    <h2>Boshqaruv qonuni</h2>
                    <p>Mamlakat qonunlari, uning qonun hujjatlari ziddiyati bundan mustasno, ushbu Shartlar va Sizning
                        Xizmatdan foydalanish. Ilovadan foydalanishingiz boshqa mahalliy, shtat,
                        milliy yoki xalqaro qonunlar.</p>
                    <h2>Nizolarni hal qilish</h2>
                    <p>Agar sizda Xizmat haqida biron bir tashvish yoki nizo bo'lsa, siz birinchi navbatda ushbu
                        muammoni hal qilishga urinib ko'rishga rozilik bildirasiz
                        norasmiy ravishda kompaniyaga murojaat qilish orqali nizolarni hal qiling.</p>
                    <h2>Yevropa Ittifoqi (EI) foydalanuvchilari uchun</h2>
                    <p>Agar siz Yevropa Ittifoqi iste'molchisi bo'lsangiz, qonunning har qanday majburiy qoidalaridan
                        foydalanasiz
                        Siz rezident bo'lgan mamlakat.</p>
                    <h2>Amerika Qo'shma Shtatlari huquqiy muvofiqligi</h2>
                    <p>Siz (i) Siz Birlashgan Millatlar Tashkilotiga bo'ysunadigan mamlakatda joylashgan emasligingizni
                        bildirasiz va kafolatlaysiz
                        Shtat hukumatining embargosi ​​yoki Qo'shma Shtatlar hukumati tomonidan belgilangan
                        "terrorizmni qo'llab-quvvatlovchi" mamlakat va (ii) Siz Qo'shma Shtatlar hukumati ro'yxatida
                        yo'qsiz
                        taqiqlangan yoki cheklangan tomonlar.</p>
                    <h2>Ajralish va voz kechish</h2>
                    <h3>Ajralish qobiliyati</h3>
                    <p>Agar ushbu Shartlarning biron bir qoidasi bajarilmaydigan yoki haqiqiy emas deb hisoblansa,
                        bunday shart bo'ladi
                        ushbu qoidaning maqsadlarini maksimal darajada amalga oshirish uchun o'zgartirilgan va talqin
                        qilingan
                        amaldagi qonunchilikka muvofiq mumkin va qolgan qoidalar to'liq kuchda davom etadi va
                        ta'sir.</p>
                    <h3>Bekor qilish</h3>
                    <p>Bu erda nazarda tutilgan hollar bundan mustasno, huquqni amalga oshirmaslik yoki uning
                        bajarilishini talab qilish
                        ushbu Shartlar bo'yicha majburiyat tomonlarning bunday huquqdan foydalanish qobiliyatiga ta'sir
                        qilmaydi yoki
                        keyinchalik istalgan vaqtda bunday bajarilishini talab qilish yoki buzilishdan voz kechish a
                        har qanday keyingi buzilishdan voz kechish.</p>
                    <h2>Tarjima talqini</h2>
                    <p>Ushbu Shartlar va shartlar tarjima qilingan bo'lishi mumkin, agar biz ularni sizga o'z saytimizda
                        taqdim etgan bo'lsak
                        Xizmat.
                        Siz nizo yuzaga kelganda asl inglizcha matn ustun bo'lishiga rozilik bildirasiz.</p>
                    <h2>Ushbu Shartlarga o'zgartirishlar</h2>
                    <p>Biz o'z ixtiyorimiz bilan ushbu Shartlarni istalgan vaqtda o'zgartirish yoki almashtirish
                        huquqini saqlab qolamiz. Agar a
                        qayta ko'rib chiqish muhim ahamiyatga ega Biz kamida 30 kun oldin xabardor qilish uchun oqilona
                        harakat qilamiz
                        kuchga kirgan har qanday yangi shartlarga. Moddiy o'zgarish nimadan iborat bo'lishi Bizning
                        saytimizda aniqlanadi
                        yagona ixtiyori.</p>
                    <p>Ushbu tahrirlar kuchga kirgandan keyin Xizmatimizga kirish yoki undan foydalanishni davom
                        ettirish orqali siz rozilik bildirasiz
                        qayta ko'rib chiqilgan shartlar bilan bog'liq bo'lishi kerak. Agar siz yangi shartlarga to'liq
                        yoki qisman rozi bo'lmasangiz, iltimos
                        veb-sayt va Xizmatdan foydalanishni to'xtating.</p>
                    <h2>Biz bilan bog'lanish</h2>
                    <p>Agar sizda ushbu shartlar bo'yicha savollaringiz bo'lsa, biz bilan bog'lanishingiz mumkin:</p>
                    <ul>
                        <li>Elektron pochta orqali: <a href="mailto: info@dernsupport.uz"><span
                                    class="uzb">info@dernsupport.uz</span></a></li>
                    </ul>
                </div>


            </div>
        </div>
        <!-- content end -->

        <div class="footer">
            <div class="container">
                <p>Yordamida yasalgan <a href="https://www.privacypolicies.com/privacy-policy-generator/"
                        target="_blank"><span class="bold">Maxfiylik siyosati generatori</span></a></p>
            </div>
        </div>

    </div>

    <script type="text/javascript" src="./assets/js/term-conditions.js"></script>
    <script defer="" data-domain="privacypolicies-livelink--production" data-api="/plausible/event"
        src="/plausible/script.js">
        </script>
    <script type="text/javascript">
        "use strict";
        window.LCG_TRACKING_APPLICATION = "privacypolicies-livelink";
        window.LCG_TRACKING_ENVIRONMENT = "production";
        window.LCG_TRACKING_EPOCH = "2020-e01";
    </script>
    <script defer=""
        src="https://static.cloudflareinsights.com/beacon.min.js/vcd15cbe7772f49c399c6a5babf22c1241717689176015"
        integrity="sha512-ZpsOmlRQV6y907TI0dKBHq9Md29nnaEIPlkf84rnaERnq6zvWvPUqr2ft8M1aS28oN72PdrCzSjY4U6VaAw1EQ=="
        data-cf-beacon="{&quot;rayId&quot;:&quot;947db5087c91e4d9&quot;,&quot;serverTiming&quot;:{&quot;name&quot;:{&quot;cfExtPri&quot;:true,&quot;cfEdge&quot;:true,&quot;cfOrigin&quot;:true,&quot;cfL4&quot;:true,&quot;cfSpeedBrain&quot;:true,&quot;cfCacheStatus&quot;:true}},&quot;version&quot;:&quot;2025.4.0-1-g37f21b1&quot;,&quot;token&quot;:&quot;78553c15395b4429a9f224714ac63483&quot;}"
        crossorigin="anonymous">
    </script>

</body>

</html>